@import "tailwindcss";

@media print {
  body * {
    visibility: hidden;
  }
  #kasa-printable-slip, #kasa-printable-slip * {
    visibility: visible;
  }
  #kasa-printable-slip {
    position: absolute;
    left: 0;
    top: 0;
    width: 100% !important;
    max-width: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
    border: none !important;
    box-shadow: none !important;
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }
  @page {
    size: A4 portrait;
    margin: 10mm;
  }
}
